<!-- Title and Item input fields -->
<div class="container">
    <div class="mb-3">
        <label for="listTitle" class="form-label" style="font-size: 1.8rem;">List Title</label>
        <input id="listTitle" autofocus name="listTitle" type="text" class="form-control" #listTitle (keyup.enter)="addList(listTitle.value); listTitle.value = ''">
        <div class="alert alert-danger" style="color: red;" *ngIf="titleNotAdded">You must enter a valid List Title</div>
    </div>
    <button type="button" class="btn btn-primary" (click)="addList(listTitle.value); listTitle.value = ''">Create</button>
</div> 

<hr>
<!-- List Group Code -->
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <ul class="list-group" *ngFor="let new of lists; let i = index">
                <li class="list-group-item list-group-item-info listItem">
                    <h1 style="text-decoration: underline; color: rgb(16, 23, 121);">{{new.title}}</h1>
                    <div *ngFor="let items of lists[i].items">
                    <input class="form-check-input me-1" type="checkbox" style="margin-left: 8px;">
                    <label class="strikethrough" style="margin-left: 28px">{{items}}</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" #newItem style="margin-bottom: 10px;" (keyup.enter)="addItem(newItem.value, i); newItem.value=''">
                        <button class="btn" (click)="addItem(newItem.value, i); newItem.value = ''">Add Item</button>    
                        <button class="btn" (click)="deleteList(i)" style="float: right;">Delete List</button> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>