<!-- Title and Item input fields -->
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <div class="input-group mb-3">
                <input class="form-control" autofocus placeholder="Add a new Title to your list..." [disabled]="titleAdded" #itemTitle (keyup.enter)="addTitle(itemTitle.value); itemTitle.value=''">&nbsp; &nbsp;
                <button class="btn" [disabled]="titleAdded" (click)="addTitle(itemTitle.value); itemTitle.value=''">Add List Title</button>
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            <div class="input-group mb-3">
                <input class="form-control" autofocus="titleAdded" placeholder="Add a new Item to your list..." #newItem (keyup.enter)="addItem(newItem.value); newItem.value=''">&nbsp; &nbsp;
                <button class="btn" (click)="addItem(newItem.value); newItem.value=''">Add List Item</button>
            </div>    
        </div>
    </div>
    <button class="btn center" (click)="newList()">New List</button>
</div> 

<hr>

<!-- List Group Code -->
<div class="container"> 
    <div class="list-container">   
        <ul class="list-group">
            <li class="list-group-item list-group-item-info listItem" *ngFor="let new of titles">
                <h1 style="text-decoration: underline; color: rgb(16, 23, 121);">{{new.title}}</h1>
                <div *ngFor="let new of items">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." style="margin-left: 8px;">
                <label class="strikethrough" style="margin-left: 28px;" class="strikethrough">{{new.item}}</label>
                </div>
            </li>
        </ul>
    </div>
</div>
